# Library Imports

In [47]:
import pandas as pd
import psycopg2
import configparser

# Loading Datasets

In [48]:
language_codes = pd.read_csv("./datasets/language_codes.csv")

config = configparser.ConfigParser()
config.read("../server/config.ini")

['../server/config.ini']

# Connecting to Database

In [49]:
conxn = psycopg2.connect(
    user=config.get("DATABASE", "USERNAME"),
    password=config.get("DATABASE", "PASSWORD"),
    host=config.get("DATABASE", "SERVER"),
    port=config.get("DATABASE", "PORT"),
    database=config.get("DATABASE", "DATABASE"),
)
cursor = conxn.cursor()

In [50]:
# sql = "SELECT * FROM public.bharatarchive_language;"
# data = pd.read_sql(sql,conxn)

In [51]:
display(language_codes)

,alpha3-b,alpha3-t,alpha2,English,French
0,aar,NaN,aa,Afar,afar
1,abk,NaN,ab,Abkhazian,abkhaze
2,ace,NaN,NaN,Achinese,aceh
3,ach,NaN,NaN,Acoli,acoli
4,ada,NaN,NaN,Adangme,adangme
...,...,...,...,...,...
482,znd,NaN,NaN,Zande languages,"zandé, langues"
483,zul,NaN,zu,Zulu,zoulou
484,zun,NaN,NaN,Zuni,zuni
485,zxx,NaN,NaN,No linguistic content; Not applicable,pas de contenu linguistique; non applicable
486,zza,NaN,NaN,Zaza; Dimili; Dimli; Kirdki; Kirmanjki; Zazaki,zaza; dimili; dimli; kirdki; kirmanjki; zazaki